<mat-drawer-container autosize>
  <div id="container">
    <mat-toolbar color="primary">
      <button mat-icon-button class="mat-icon-button" aria-label="Side menu button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Pet Wall</span>
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
    <footer></footer>
  </div>
  <mat-drawer #drawer class="sidenav" mode="side" [disableClose]="false" [mode]="'over'">
    <div id="nav-container">
      <mat-list>
        <div mat-subheader>Pet</div>
        <a [routerLink]="'/'" [routerLinkActive]="'active'" class="nav-anchor">
          <mat-list-item >
            <mat-icon mat-list-icon>home</mat-icon>
            <div mat-line>Home</div>
          </mat-list-item>
        </a>
        <a [routerLink]="'/list'" [routerLinkActive]="'active'" class="nav-anchor">
          <mat-list-item >
            <mat-icon mat-list-icon>list_view</mat-icon>
            <div mat-line>List</div>
          </mat-list-item>
        </a>


        <mat-divider></mat-divider>
        <div mat-subheader>Info</div>
        <mat-list-item >
          <mat-icon mat-list-icon>perm_identity</mat-icon>
          <div mat-line>Contact</div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>
</mat-drawer-container>
